.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroLogo {
  display: block;
  margin: 0 auto 2rem;
  width: 150px;
  height: 150px;
}

.hero__title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  max-width: 800px;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
