.toggleSwitch {
  display: flex;
  align-items: center;
  /* Removed width: 60px as it's now a flex container */
  height: 34px;
  margin-left: 10px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  width: 60px; /* Explicit width for the slider */
  height: 34px; /* Explicit height for the slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--ifm-color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ifm-color-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggleText {
  margin-left: 10px; /* Spacing between slider and text */
}
